@model IEnumerable<OtoServisSatis.Entities.Models.Arac>

@{
    ViewData["Title"] = "Araclar";
}

<h1>Araclar</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Renk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KasaTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYili)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatistaMi)
            </th>
             <th>
                            @Html.DisplayNameFor(model => model.Anasayfa)
                        </th>
           
                 <th>
                 @Html.DisplayNameFor(model => model.Resim1)
                 </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Renk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KasaTipi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatistaMi)
            </td>
            <td>
                           @Html.DisplayFor(modelItem => item.Anasayfa)
                       </td>
            <td>
                <img src="/Img/Cars/@item.Resim1" alt="" height="34">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka.Ad)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Duzenle</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
